# VCS
.git
.gitmodules

# Python
.venv
.venv_st
build
dist
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
siteoptapp/frontend/node_modules/
siteoptapp/frontend/dist/

# Tauri
siteoptapp/frontend/src-tauri

# Build/artifacts
staticfiles/
work/
_config/
*.log
.DS_Store
db.sqlite3
**/*.sqlite3

# Editor
.vscode/
.idea/
