Django >= 5.2
django-tailwind >=4.0
django-cors-headers >= 4.7
django-redis >= 6.0
docutils >= 0.21
openpyxl >=3.1.5
pyinstaller >= 6.15
platformdirs >= 4.4.0
spinedb_api == 0.36.3
spine_engine == 0.26.4
spine_items == 0.24.4
spinetoolbox == 0.10.5
github-copilot-sdk == 0.2.1
